<!-- Navigation -->
    

    <!-- Header -->
    <header>
        <div class="container">
            <div class="col-lg-12 intro-text">
                <img src="img/header.svg" alt="{{site.title}}">
                
            </div>
            </div>
        </div>
    </header>
    <div class="col-lg-12 divider">
        <div class="container">
            <div class="row ">
                <div class="col-md-3">
                    <h2>Practising Digital Empathy</h2>
                </div>
                <div class="col-md-9">
                    <p>Fei Liu is a designer, artist, writer, and empath using storytelling and to create digital experiences that foster dialogue and human connections. Currently a contributing researcher at non-profit organization China Residencies, DJ and radio host on artist run radio station Bel-Air, and keypuncher at Public Science. Previously Researcher in Residence at DBRS Innovation Labs, and graduate of Parsons MFA Design and Technology.</p>

                    <p class="small">CV | LinkedIn | SoundCloud | Twitter</p>
                    <!-- <p><i class="fa fa-linkedin" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-github" aria-hidden="true"></i></p> -->
                    
                </div>
            </div>
        </div>
    </div>
