<!-- Portfolio Grid Section -->
 
    <div id="portfolio" class="">
        <div class="container">
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-12 col-sm-6 portfolio-item">
                    <div class="col-md-6 col-sm-12">
                        <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12 portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <!-- <p class="text-muted">{{ post.subtitle }}</p> -->
                        <p>{{ post.description }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
