---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="container">
            <p> <a href="{{ site.url }}">TRYTOBEGOOD</a></p><p>Fei Liu is a designer, artist, writer and DJ exploring digital empathy, and the narrative potential of interfaces.</p>
            <!-- <a href="{{ site.url }}"><img  class="logo" src="{{ site.logo }}" alt="{{site.title}}"></a> -->
        </div>
    </header>


    
    <div class="wrapper animated fadeIn">
        <!-- <div class="col-lg-12 divider">
            <div class="container">
                
                 <div class="row ">
                    <div class="col-md-3">
                        <h2>Practising Digital Empathy</h2>
                    </div>
                    <div class="col-md-9">
                        <p>Fei Liu is a designer, artist, writer, and empath using storytelling and to create digital experiences that foster dialogue and human connections. Currently a contributing researcher at non-profit organization China Residencies, DJ and radio host on artist run radio station Bel-Air, and keypuncher at Public Science. Previously Researcher in Residence at DBRS Innovation Labs, and graduate of Parsons MFA Design and Technology.</p>

                        <p class="small">CV | LinkedIn | SoundCloud | Twitter</p>
                        
                    </div>
                </div>
            </div>
        </div> -->
            <div class="container">
                <div class="row">
                    {% for post in site.posts %} 
                        {% if post.project == null %}
                    <div class="col-sm-12 col-md-12 portfolio-item">
                        <div class="col-md-7 col-sm-12">
                            <a href="{{ site.url }}{{ post.url }}" class="portfolio-link">
                                <img src="posts/img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""></a>
                        </div>
                        <div class="col-md-4 col-sm-12 portfolio-caption">
                            <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                                <p>{{ post.excerpt }}</p>
                        </div>
                    </div>
                    
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
