---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="container">
            <p> <a href="{{ site.url }}">TRYTOBEGOOD</a></p><p>Fei Liu is a designer, artist, writer and DJ exploring digital empathy, and the narrative potential of interfaces.</p>
        </div>
    </header>


    
        <div class="wrapper animated fadeIn">
            <div class="container">
                <div class="col-md-12">
                   <!--  <div class="col-md-6">
                        <h1>{{ page.title }}</h1>
                        <p class="small">{{ page.date | date: '%Y' }}</p> -->
                        {{ content }}
                    <!-- </div> -->
                    
                </div>
                <div class="entry-meta">
                </div>
            </div>
        </div>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
